<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
        <main>
            <div class="container-xl mx-auto p-0 m-0 row">
                <div class="col-12 d-flex justify-content-center mt-2">
                    <h3 class="mx-auto mt-2 unline">
                        Actor:
                    </h3>
                </div>
                <div class="col-12 d-flex justify-content-center mt-2">
                    <h4 class="mx-auto mt-2">
                        <%= actor.first_name %> <%= actor.last_name %>
                    </h4>
                </div>
                <div class="col-12 mb-2">
                    <div class="col-12 mt-3">
                        <h5>Peliculas en las que participo:</h5>
                    </div>
                    <ul>
                        <% for (let i = 0; i < actor.movies.length; i++) { %>

                        <div class="col-12 mt-3 d-flex">
                            <div class="col-6">
                                <li class="mt-3 movies-title">
                                    <%= actor.movies[i].title %>
                                </li>
                                <a
                                    href="/movies/detail/<%= actor.movies[i].id %> "
                                    class="movies-a"
                                    >Ver mas</a
                                >
                            </div>
                            <div
                                class="col-6 d-flex justify-content-center mt-auto"
                            >
                                <form
                                    action="/movies/performance/<%= actor.movies[i].id %>/<%= actor.id %>/?_method=delete "
                                    method="POST"
                                >
                                    <button
                                        type="submit"
                                        class="btn btn-danger button-wd"
                                    >
                                        Eliminar
                                    </button>
                                </form>
                            </div>
                        </div>

                        <% } %>
                    </ul>
                </div>
            </div>
        </main>
        <%- include("partials/footer") %>
    </body>
</html>
